{{ $type := .Get "type" | default "default" }}
<div class="about-text-container">
    {{ if eq $type "slogan" }}
    <div class="slogan-full-width-bg">
        <div class="slogan">{{ .Inner | markdownify }}</div>
    </div>
    {{ else }}
        <p>{{ .Inner | markdownify }}</p>
    {{ end }}
</div>

<style>
.text-full-width-bg {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

body {
  overflow-x: hidden; /* 隐藏横向滚动条 */
}

.text-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 45px;
  font-size: 0.9em; /* 减小整体文本大小 */
}

.text-container h1 {
  font-size: 3rem;
  font-family: Montserrat, Noto Sans JP, sans-serif;
  font-weight: inherit;
  margin-bottom: 1rem;
  color: #000000;
  line-height: 1;
}

.text-container h2 {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  color: #000000;
  line-height: 1;
}

.text-container h3 {
  margin-top: 20px;
  color: #333;
  font-size: 1.3em; /* 减小标题大小 */
}

.text-container ul {
  padding-left: 1.5rem;
  list-style-type: disc;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

.text-container li {
  font-size: 1em; /* 单独设置列表项字体大小 */
  margin-bottom: 0.5rem; /* 列表项之间增加间距 */
  line-height: 1.5;
}

/* 设置链接样式 */
.text-container a {
  color: #0066cc;
  text-decoration: underline; /* 默认显示下划线 */
}

.text-container a:hover {
  text-decoration: underline;
  color: #004c99; /* 悬停时颜色稍深 */
}

</style>

<div class="text-full-width-bg">
  <div class="text-container">
    <!-- Headquarters和Channel Partner模块已被删除 -->
  </div>
</div>
